{% extends "base.html" %}

{% block content %}

{% load static %}
<style>
 
  .content{

    margin-top: -1rem;
    overflow: scroll !important;
    padding: .5rem;

  }

    iframe{
        width:100%;
        height:95%;
    
    }
    .back{
    margin-left: 0;
    margin-bottom: 1rem;
    }
    .back a{
      padding: .2rem;
      width: fit-content;
      height: fit-content;
      box-sizing: border-box;
      background: white; 
      display: flex;
      border-radius: 50px 50px;

    }
</style>

<div class="back">
  <a href="{% url 'home' %}">
    <img src="{% static 'images/icons8-go-back.png' %}" alt="">
  </a>
</div>

<!-- Include iframe-resizer library -->
<script src="https://cdn.jsdelivr.net/npm/iframe-resizer@4.3.1/js/iframeResizer.min.js"></script>

<!-- Create iframe with ID "glpi-iframe" -->
<!--<iframe id="glpi-iframe" src="http://192.1.200.183/glpi" scrolling="no"></iframe>-->
<iframe src="http://192.1.200.183/glpi" width="100%" height="600" frameborder="0" target="_self"></iframe>

<!-- Initialize iframe-resizer on the iframe -->
<script>
  iFrameResize({ log: true }, '#glpi-iframe')
</script>

{% endblock content %}