{% extends 'base.html' %}
{% load static %}
{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock custom-css %}
{% block titre %} Ticket GLPI {% endblock%}


{% block content %}
<style>
  .back{
    margin-left: 1rem;
}
.back a{
  padding: .2rem;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
 background: white; 
 display: flex;
 border-radius: 50px 50px;
}
</style>

<div class="back">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/icons8-go-back.png' %}" alt="">
    </a>
</div>

<h1>Créer un ticket</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Créer</button>
</form>

{% endblock %}

