{% extends 'base.html' %}
{% load static %}
{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock custom-css %}
{% block titre %} MAGBOARD - Chiffre d'affaire {% endblock%}


{% block content %}
<style>
  .back{
    margin-left: 1rem;
  }
.back a{
  padding: .2rem;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
 background: white; 
 display: flex;
 border-radius: 50px 50px;

}
</style>

<div class="back">
<a href="{% url 'home' %}">
  <img src="{% static 'images/icons8-go-back.png' %}" alt="">
</a>
</div>
<div class="formulaire">
    <h1>MON FORMULAIRE QUOTIDIEN</h1>
    <br>

    <form method="POST" id="form" name="form">
        {% csrf_token %}
        <li>
          <label for="value">Nom:</label>
          <input type="text" name="nom" required>
        </li>
        <li>
          <label for="value">Prenom:</label>
          <input type="text" name="prenom" required>
        </li>
        <li>
          <label for="value">Nombre de clients:</label>
          <input type="number" name="clients_no" required>
        </li>
        <li>
          <label for="value">Date:</label>
          <input id="datepicker" type="date" name="day" required>
          <input type="hidden" name="weekdaynumber" id="weekday">
        </li>
        <li>
          <label for="value">Chiffres d'affaires:</label>
          <input type="text" name="magasin_value" required>
        </li>
        <button type="submit" id="submitValue" onclick="func()">Valider</button>
    </form>
</div>

<script>
  
  function func(){
    var button = document.getElementById("submitValue")
    var form = document.getElementById('form')
    if(form.onsubmit==true){
      button.classList.add("disabled")
    }

  }
 var now = new Date();
 var day = ("0" + now.getDate()).slice(-2);
 var month = ("0" + (now.getMonth() + 1)).slice(-2);
 var today = now.getFullYear() +"-"+(month)+"-"+(day);
 var date_picker = document.getElementById("datepicker");


date_picker.addEventListener('change', ()=>{
  if (document.forms["form"]["day"].value != ""){
    new_date = new Date(date_picker.value);
    dayer = (new_date.getDay())

    weekday = document.getElementById("weekday")
    weekday.value = dayer
    
 }
})
</script>
{% endblock %}
