{% extends 'base.html' %}
{% load static %}
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/historis.css' %}">

    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    {% endblock custom-css %}
{% block title %}Historique {% endblock%}

{% block content %}
  <style>
  
    .back{
    padding-right: 3rem;

    }
    .back a{
      padding: .2rem;
      width: fit-content;
      height: fit-content;
      box-sizing: border-box;
    background: white; 
    display: flex;
    border-radius: 50px 50px;

    }
    .value-admin{
      color:black;
    }
    body.dark .value-admin{
      color: white;

    }

  </style>


  {% if request.user.role == "MAGASIN" %}
    {% if magasin_weekly.has_other_pages %}
      <ul class="pagination" style="border: none; margin-bottom: 3%;">
        <div class="back">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/icons8-go-back.png' %}" alt="">
          </a>
        </div>
        {% if magasin_weekly.has_previous %}
          <li><a href="?page={{ magasin_weekly.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        <!-- {% for i in magasins.paginator.page_range %}
          {% if magasins.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %} -->

        {% for magasin in magasin_weekly  %}
        <div class="attendance-title" style="font-weight: bolder; padding: 0 1rem; font-size: 1.5rem;">Semaine : {{magasin.week}}</div>
        {% endfor %}
        {% if magasin_weekly.has_next %}
          <li><a href="?page={{ magasin_weekly.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% else %}
    <div class="back">
      <a href="{% url 'home' %}">
        <img src="{% static 'images/icons8-go-back.png' %}" alt="">
      </a>
    </div>
    {% endif %}
  {% endif %}

  {% if weekpag.has_other_pages %}
    <ul class="pagination" style="border: none;">
      <div class="back">
        <a href="{% url 'home' %}">
          <img src="{% static 'images/icons8-go-back.png' %}" alt="">
        </a>
      </div>
      {% if weekpag.has_previous %}
        <li><a href="?page={{ weekpag.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      <!-- {% for i in weekpag.paginator.page_range %}
        {% if weekpag.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %} -->

      {% for magasin_w in magasin_weekly  %}
      <div class="attendance-title" style="font-weight: bolder; padding: 0 1rem; font-size: 1.5rem;">Semaine : {{magasin_w.week}}</div>
      {% endfor %}
      {% if weekpag.has_next %}
        <li><a href="?page={{ weekpag.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}



  <section class="attendance">
    <!--Admin-->
    {% if request.user.role == "ADMIN" or request.user.is_staff or request.user.role == "DIRECTION" or request.user.role == "SUPERVISEUR" %}        
      {% for magasin_w in magasin_weekly  %}
      <!-- <div class="attendance-title">Semaine : {{magasin_w.week}}</div> -->
        <div class="attendance-list">
          <h1>Historique hebdomadaire</h1>
          <div class="table-container">
            
            <table class="table">
                <thead>
                  <tr>
                      <th class="data-label"><h1>N°</h1></th>
                      <th class="data-label"><h1>Magasin</h1></th>
                      <th class="data-label"><h1>Lundi</h1></th>
                      <th class="data-label"><h1>Mardi</h1></th>
                      <th class="data-label"><h1>Mercredi</h1></th>
                      <th class="data-label"><h1>Jeudi</h1></th>
                      <th class="data-label"><h1>Vendredi</h1></th>
                      <th class="data-label"><h1>Samedi</h1></th>
                      <th class="data-label"><h1>Dimanche</h1></th>  
                      <th class="data-label"><h1>Total</h1></th>
                      <th class="data-label"><h1>Details</h1></th>
                  </tr>
                </thead>  
                {% for user_magasin in ori_magasin %}
                  {% for magasin in magasins %}
                    {% if magasin.week == magasin_w.week %}
                      {% if magasin.magasin == user_magasin %}
                        <tbody>
                          <tr>          
                            <td scope="row" data-label="n°">{{user_magasin.code}}</td>
                            <td scope="row" data-label="magasin">{{user_magasin.user}}</td>
                            {% if magasin.mon is None %}
                            <td data-label="Lundi"></td>
                            {% else %}
                            <td data-label="Lundi"><a class="value-admin" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.mon}}</a><input type="hidden" class="value-magasin" value="{{user_magasin.user}}"></td>
                            {% endif %}
                            {% if magasin.tue is None %}
                            <td data-label="Mardi"></td>
                            {% else %}
                            <td data-label="Mardi"><a class="value-admin href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.tue}}</a><input type="hidden" class="value-magasin" value="{{user_magasin.user}}"></td>
                            {% endif %}
                            {% if magasin.wed is None %}
                            <td data-label="Mercredi"></td>
                            {% else %}
                            <td data-label="Mercredi"><a class="value-admin" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.wed}}</a><input type="hidden" class="value-magasin" value="{{user_magasin.user}}"></td>
                            {% endif %}
                            {% if magasin.thur is None %}
                            <td data-label="Jeudi"></td>
                            {% else %}
                            <td data-label="Jeudi"><a class="value-admin" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.thur}}</a><input type="hidden" class="value-magasin" value="{{user_magasin.user}}"></td>
                            {% endif %}
                            {% if magasin.fri is None %}
                            <td data-label="Vendredi"></td>
                            {% else %}
                            <td data-label="Vendredi"><a class="value-admin" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.fri}}</a><input type="hidden" class="value-magasin" value="{{user_magasin.user}}"></td>
                            {% endif %}
                            {% if magasin.sat is None %}
                            <td data-label="Samedi"></td>
                            {% else %}
                            <td data-label="Samedi"><a class="value-admin" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.sat}}</a><input type="hidden" class="value-magasin" value="{{user_magasin.user}}"></td>
                            {% endif %}
                            {% if magasin.sun is None %}
                            <td data-label="Dimanche"></td>
                            {% else %}
                            <td data-label="Dimanche"><a class="value-admin" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.sun}} </a><input type="hidden" class="value-magasin" value="{{user_magasin.user}}"></td>
                            {% endif %}                    
                            {% for total in total_magasin_value %}
                              {% if total.week == magasin_w.week %}
                                {% if total.mag == magasin.magasin.user %}
                                <td scope="row" data-label="magasin">{{total.value.value__sum}}</td>
                                {% endif %}
                              {% endif %}
                            {% endfor %}     
                            <td data-label="View"><a  href="{% url 'voir' magasin.magasin.user magasin_w.week %}?page={{weekpaginator.num_pages}}" class="btn">Voir</a></td>
                          </tr>
                        </tbody>
                    
                        {% else %}
                       
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  <div class="modal fade" id="update-value-modal" tabindex="-1" role="dialog" aria-labelledby="update-value-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="display: flex; align-items: center; justify-content: center;">
                      <div class="modal-content" style="width: 80%;">
                        <div class="modal-header">
                          <h5 class="modal-title" id="update-value-modal-label">Update Value</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <!-- Update Value Form -->
                          <form action="{% url 'update_value' magasin_w.week %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="value_id" id="value-id">
                            <input type="hidden" name="value_mag" value="{{user_magasin.user}}">
                            <!-- Add form fields for updating the value here -->
                            <li>
                              <label for="value">Nom:</label>
                              <input type="text" name="nom" required>
                            </li>
                            <li>
                              <label for="value">Prenom:</label>
                              <input type="text" name="prenom" required>
                            </li>
                            <li>
                              <label for="value">Nombre de clients:</label>
                              <input type="number" name="clients_no" required>
                            </li>
                            <li>
                              <label for="value">Chiffres d'affaires:</label>
                              <input type="number" name="magasin_value" required>
                            </li>
                            
                            <div class="modal-footer">
                        
                              <button type="submit" class="btn">Update Value</button>
                            </div>
                          </form>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                {% endfor %}
                
                {% for other_mag in other_magasins %}

                            {% if other_mag.week == magasin_w.week %}
                            
                                {% for item in other_mag.list %}
                                    {% if  item %}

                                    <tbody>
                                      <tr>          
                                        <td scope="row" data-label="n°">{{item.code}}</td>
                                        <td scope="row" data-label="magasin">{{item.user}}</td>
                                        <td data-label="Lundi"></td>
                                        <td data-label="Mardi"></td>               
                                        <td data-label="Mercredi"></td>              
                                        <td data-label="Jeudi"></td>                              
                                        <td data-label="Vendredi"></td>                       
                                        <td data-label="Samedi"></td>  
                                        <td data-label="Dimanche"></td>                                      
                                       
                                            <td scope="row" data-label="magasin"></td>
                                          
                                        <td data-label="View"><a href="{% url 'voir' item.user magasin_w.week %}?page={{weekpaginator.num_pages}}" class="btn">Voir</a></td>
                                      </tr>
                                    </tbody>
                                    {% endif %}
                                {% endfor %}
                              
                            {% endif %}
               
                {% endfor %}
            </table>
          </div>
        </div>
       
      {% endfor %}

    {% endif %}

    <!--Magasin-->
 {% if request.user.role == "MAGASIN" %}
      {% if magasins %}
      {% else %}
      <div class="attendance-title" >Semaine Null</div>

      <div class="attendance-list">
        <h1>Historique hebdomadaire</h1>
        <div class="table-container"> 
          <table class="table">
              <thead>
                <tr>
                    <th class="data-label"><h1>N°</h1></th>
                    <th class="data-label"><h1>Magasin</h1></th>
                    <th class="data-label"><h1>Lundi</h1></th>
                    <th class="data-label"><h1>Mardi</h1></th>
                    <th class="data-label"><h1>Mercredi</h1></th>
                    <th class="data-label"><h1>Jeudi</h1></th>
                    <th class="data-label"><h1>Vendredi</h1></th>
                    <th class="data-label"><h1>Samedi</h1></th>
                    <th class="data-label"><h1>Dimanche</h1></th>
                    <th class="data-label"><h1>Total</h1></th>
                    <th class="data-label"><h1>Details</h1></th>
                </tr>
              </thead>
              <tbody>
                  <tr>          
                    <td scope="row" data-label="n°">{{request.user.code}}</td>
                    <td scope="row" data-label="magasin">{{request.user.username}}</td> 
                    <td data-label="{{magasin_v.name_of_day}}"></td>
                    <td data-label="{{magasin_v.name_of_day}}"></td> 
                    <td data-label="{{magasin_v.name_of_day}}"></td>             
                    <td data-label="{{magasin_v.name_of_day}}"></td>          
                    <td data-label="{{magasin_v.name_of_day}}"></td>
                    <td data-label="{{magasin_v.name_of_day}}"></td>
                    <td data-label="{{magasin_v.name_of_day}}"></td>           
                    <td scope="row" data-label="magasin"></td>   
                    <td data-label="View"><a href="#" class="btn">Voir</a></td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      {% for magasin_w in magasin_weekly %}
      <!-- <div class="attendance-title" >Semaine {{magasin.week}}</div> -->
      <div class="attendance-list">
        <h1>Historique hebdomadaire</h1>
        <div class="table-container">
          
              <table class="table">
                  <thead>
                    <tr>
                        <th class="data-label"><h1>N°</h1></th>
                        <th class="data-label"><h1>Magasin</h1></th>
                        <th class="data-label"><h1>Lundi</h1></th>
                        <th class="data-label"><h1>Mardi</h1></th>
                        <th class="data-label"><h1>Mercredi</h1></th>
                        <th class="data-label"><h1>Jeudi</h1></th>
                        <th class="data-label"><h1>Vendredi</h1></th>
                        <th class="data-label"><h1>Samedi</h1></th>
                        <th class="data-label"><h1>Dimanche</h1></th>
                        <th class="data-label"><h1>Total</h1></th>
                        <th class="data-label"><h1>Details</h1></th>
                    </tr>
                  </thead>
                  {% for user in magasins %}
                    {% for magasin in magasin_day_value %}
                      {% if magasin.week == magasin_w.week %}
                      <tbody>
                        <tr>          
                          <td scope="row" data-label="n°">{{magasin.magasin.code}}</td>
                          <td scope="row" data-label="magasin">{{magasin.magasin.user}}</td>
                          {% if magasin.mon is None %}
                          <td data-label="Lundi"></td>
                          {% else %}
                          <td data-label="Lundi"><a class="value-a" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.mon}}</a></td>
                          {% endif %}
                          {% if magasin.tue is None %}
                          <td data-label="Mardi"></td>
                          {% else %}
                          <td data-label="Mardi"><a class="value-a" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.tue}}</a></td>
                          {% endif %}
                          {% if magasin.wed is None %}
                          <td data-label="Mercredi"></td>
                          {% else %}
                          <td data-label="Mercredi"><a class="value-a" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.wed}}</a></td>
                          {% endif %}
                          {% if magasin.thur is None %}
                          <td data-label="Jeudi"></td>
                          {% else %}
                          <td data-label="Jeudi"><a class="value-a" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.thur}}</a></td>
                          {% endif %}
                          {% if magasin.fri is None %}
                          <td data-label="Vendredi"></td>
                          {% else %}
                          <td data-label="Vendredi"><a class="value-a" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.fri}}</a></td>
                          {% endif %}
                          {% if magasin.sat is None %}
                          <td data-label="Samedi"></td>
                          {% else %}
                          <td data-label="Samedi"><a class="value-a" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.sat}}</a></td>
                          {% endif %}
                          {% if magasin.sun is None %}
                          <td data-label="Dimanche"></td>
                          {% else %}
                          <td data-label="Dimanche"><a class="value-a" href="#" data-toggle="modal" data-target="#update-value-modal">{{magasin.sun}}</a></td>
                          {% endif %}
                          {% for total in total_magasin_value %}      
                            {% if total.week == magasin_w.week %}         
                            <td scope="row" data-label="magasin">{{total.value.value__sum}}</td>
                            {% endif %}
                          {% endfor %}
                             <!--Voir btn is disabled-->   
                          <td data-label="View"><a href="{% url 'voir' magasin.magasin.user magasin_w.week %}" class="btn disabled" style="pointer-events: none;">Voir</a></td>
                        </tr>
                    </tbody>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
              </table>
            
        </div>
      </div>
      <div class="modal fade" id="update-value-modal" tabindex="-1" role="dialog" aria-labelledby="update-value-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="update-value-modal-label">Update Value</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Update Value Form -->
              <form action="{% url 'update_value' magasin_w.week %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="value_id" id="value-id">
                <!-- Add form fields for updating the value here -->
                <li>
                  <label for="value">Nom:</label>
                  <input type="text" name="nom" required>
                </li>
                <li>
                  <label for="value">Prenom:</label>
                  <input type="text" name="prenom" required>
                </li>
                <li>
                  <label for="value">Nombre de clients:</label>
                  <input type="number" name="clients_no" required>
                </li>
                <li>
                  <label for="value">Chiffres d'affaires:</label>
                  <input type="number" name="magasin_value" required>
                </li>
                
                <div class="modal-footer">
            
                  <button type="submit" class="btn">Update Value</button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
      {% endfor %}
    
    {% endif %} 

    

    <script>
    $(document).ready(function() {
      $('.value-a').click(function() {
        // Get the value ID for the selected value
        var value_id = document.querySelector('.value-a').innerHTML
        
        // Update the value ID in the form
        $('#value-id').val(value_id);
       
      
      });
      $('.value-admin').click(function() {
        // Get the value ID for the selected value
        var value_id = document.querySelector('.value-admin').innerHTML
      
        // Update the value ID in the form
        $('#value-id').val(value_id);
       
      
      });
     
    });
    

    var modal = document.querySelector('.modal')
  
    var modal_toggle = document.querySelector('.value-a')
    var admin_modal_toggle =  document.querySelector('.value-admin')
    var close = document.querySelector('.close')
    close.addEventListener('click', () => {
      modal.classList.remove('active')
    })

   {% if request.user.role == "ADMIN" or request.user.is_staff or request.user.role == "DIRECTION" or request.user.role == "SUPERVISEUR"%}
    admin_modal_toggle.addEventListener('click', () => {
    
        modal.classList.add('active')
      
    })
   {% endif %}
    modal_toggle.addEventListener('click', () => {
       {% if request.user.role == "MAGASIN"%}
        modal.classList.add('active')
        
      {% endif %}
    })
    </script>
  </section>
{% endblock %}