{% extends "base.html" %}
{% load static %}

{% block custom-css %}

  <link rel="stylesheet" href="{% static 'css/voier.css' %}">
  <link rel="stylesheet" href="{% static 'css/modalse.css' %}">

{% endblock custom-css %}
{% block content %}
<style>
 
  .back{
  padding-right: 3rem;

  }
  .back a{
    padding: .2rem;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
   background: white; 
   display: flex;
   border-radius: 50px 50px;

  }

</style>
<div class="voir">

 
  <div class="back back-small">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/icons8-go-back.png' %}" alt="">
    </a>
    <div class="date-page">
      
      <span class="month-name" ></span>
     

</div>
  </div>
 
 
 
 
  {% if request.user.role == "ADMIN" or request.user.is_staff or request.user.role == "DIRECTION" or request.user.role == "SUPERVISEUR" %}
           
    
    <div class="header">
      <div class="control">
        <div class="back">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/icons8-go-back.png' %}" alt="">
          </a>
        </div>
         
          <form method="get">
            <div class="input-texts">
                <label for="month">Month: </label>
                <select id="month" name="month">
                  {% for i in range %}
                  <option value="{{ i }}" {% if i == selected_month %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
              
                <label for="year">Year: </label>
                <select id="year" name="year">
                  {% for year in years %}
                  <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                  {% endfor %}
                </select>
          
            </div>
            <button type="submit">Go</button>
          </form>
      </div>
      <div class="date-page">
      
            <span class="month-name" ></span>
           

      </div>
      <div class="date-control">
        
          <li class="active" id="week-toggle"><a style="text-decoration:none; color:white;" href="{{current_url}}">aujourd'hui</a> </li>
          {% comment %} <li id="day-toggle">Today</li> {% endcomment %}
      </div>
    </div>

    <div class="week-content">
      
          <table class="table">
              <thead>
                <tr>          
                    <th class="data-label">Lundi</th>
                    <th class="data-label">Mardi</th>
                    <th class="data-label">Mercredi</th>
                    <th class="data-label">Jeudi</th>
                    <th class="data-label">Vendredi</th>
                    <th class="data-label">Samedi</th>
                    <th class="data-label">Dimanche</th>
                </tr>
              </thead>
            
              <tbody>
                {% for week in calendar %}
                <tr>          
                    {% for day in week %}
                    <td>
                      {% if day %}
                        <p class="day-value">{{ day }}</p>
          
                      
                      {% for value in values %}
                        {% if value.day.month == selected_month %}
                          {% if value.day.day == day %}
                          <span id="value"><p><small class="tooltip-text">Chiffres d'affaires</small><a class="value-a" href="#" data-toggle="modal" data-target="#update-value-modal">{{ value.value }}</a></p> <p><small class="tooltip-text">Clients Number</small><a href="#" data-toggle="modal" data-target="#update-value-modal">{{ value.clients_no }}</a></p></span>
                          <span id="value"><p><small class="tooltip-text">Nom </small><a href="#" data-toggle="modal" data-target="#update-value-modal">{{ value.nom}}</a></p> <p><small class="tooltip-text">Prenom</small><a href="#" data-toggle="modal" data-target="#update-value-modal">{{ value.prenom }}</a></p></span>
                          <span id="value" style="width:100%; display: flex; align-items:center; justify-content:center;"><p style="border:none;"><small class="tooltip-text">Hour of Validation</small>{{value.created_at.time}}</p></span>
                          
                      
                          {% endif %}
                          {% else %}
                          
                        {% endif %}
                      {% endfor %}
                      {% else %}
                      &nbsp;
                      
                      {% endif %}
                    </td>
                    {% endfor %}    
                </tr>
                {% endfor %}
              </tbody>
          </table>
        
    </div>




    {% endif %}
<!-- Update Value Modal -->

<div class="modal fade" id="update-value-modal" tabindex="-1" role="dialog" aria-labelledby="update-value-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update-value-modal-label">Update Value</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Update Value Form -->
        <form action="#" method="post">
          {% csrf_token %}
          <input type="hidden" name="value_id" id="value-id">
          <!-- Add form fields for updating the value here -->
          <li>
            <label for="value">Nom:</label>
            <input type="text" name="nom" required>
          </li>
          <li>
            <label for="value">Prenom:</label>
            <input type="text" name="prenom" required>
          </li>
          <li>
            <label for="value">Nombre de clients:</label>
            <input type="number" name="clients_no" required>
          </li>
          <li>
            <label for="value">Chiffres d'affaires:</label>
            <input type="number" name="magasin_value" required>
          </li>
          
          <div class="modal-footer">
      
            <button type="submit" class="btn">Update Value</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
  
</div>
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('.value-a').click(function() {
      // Get the value ID for the selected value
      var value_id = document.querySelector('.value-a').innerHTML
      
      // Update the value ID in the form
      $('#value-id').val(value_id);
    });
  });
  var month_name = document.querySelector('.month-name')
  {% if selected_month == 1 %}
    month_name.innerHTML = "January"
  {% endif %}
  {% if selected_month == 2 %}
    month_name.innerHTML = "February"
  {% endif %}
  {% if selected_month == 3 %}
    month_name.innerHTML = "March"
  {% endif %}
  {% if selected_month == 4 %}
    month_name.innerHTML = "April"
  {% endif %}
  {% if selected_month == 5 %}
    month_name.innerHTML = "May"
  {% endif %}
  {% if selected_month == 6 %}
    month_name.innerHTML = "June"
  {% endif %}
  {% if selected_month == 7 %}
    month_name.innerHTML = "July"
  {% endif %}
  {% if selected_month == 8 %}
    month_name.innerHTML = "August"
  {% endif %}
  {% if selected_month == 9 %}
    month_name.innerHTML = "September"
  {% endif %}
  {% if selected_month == 10%}
    month_name.innerHTML = "October"
  {% endif %}
  {% if selected_month == 11 %}
    month_name.innerHTML = "November"
  {% endif %}
  {% if selected_month == 12 %}
    month_name.innerHTML = "December"
  {% endif %}
  var modal = document.querySelector('.modal')
var modal_toggle = document.querySelector('.value-a')
modal_toggle.addEventListener('click', () => {
  {% if request.user.role == "MAGASIN"%}
    modal.classList.add('active')
  {% endif %}
})
var week_toggle = document.getElementById("week-toggle")
    var day_toggle = document.getElementById("day-toggle")
    var week_content = document.querySelector(".week-content")
    var day_content = document.querySelector(".day-content")
    week_toggle.addEventListener('click', () =>{
            week_toggle.classList.add('active')
            day_toggle.classList.remove('active')
            week_content.classList.remove('inactive')
            day_content.classList.remove("active")

        })
    day_toggle.addEventListener('click', () =>{
            day_toggle.classList.add('active')
            week_toggle.classList.remove('active')
            week_content.classList.add("inactive")
            day_content.classList.add("active")
        })
</script>
{% endblock content %}