{% extends "base.html" %}
{% load static %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/voir.css' %}">
{% endblock custom-css %}
{% block content %}

  <section class="voir">
    <div class="magasin-user">
      <h3><div class="rounded">{{mag_user.user|first|upper}}</div>{{mag_user.user}}</h3>
      <span>Email: <a href="mailto: {{mag_user.email}}">{{mag_user.email}}</a></span>
      <span>Tél: <a href="tel: {{mag_user.number}}">{{mag_user.number}}</a></span>
    </div>

    <div ng-app="myApp">
      <div ng-controller="Ctrl">
          <p></p>
          <div class="container">
              <!--             <div class="row">
                  <h3 uib-tooltip-html="htmlTooltip" tooltip-placement="bottom">{{teste}}</h3>
              </div> -->
              <!--     Modal Body     -->
              <script type="text/ng-template" id="myModalContent.html">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                      <h3 class="modal-title">I'm a modal!</h3>
                  </div>
                  <div class="modal-body">
                      <div class="text-center well">
                      <p>
                          <label for="nome">{{    nome   }}</label>
                      </p>
                      <p>
                          <label for="nome">{{   gfExtenso    }}</label>
                      </p>
                  </div>
                      <div class="form-group">
                          <label class="control-label">Nome do cliente</label>
                          <input type="text" class="form-control" id="title" ng-model="nome">
                      </div>
                      <div class="form-group">
                          <label class="control-label">Data e Horário</label>
                          <input type="text" class="form-control" id="date" ng-model="date">
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                  </div>
              </script>
              <!--   END  Modal Body     -->
              <div class="alert-success calAlert ng-scope" ng-show="alertMessage != undefined &amp;&amp; alertMessage != ''">
                  <h4 class="ng-binding">{{alertMessage}}</h4>
              </div>
              <div>
                  <div></div>
                  <div select="renderCalender('myCalendar1');">
                      <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                  </div>
              </div>
          </div>
          <p></p>
      </div>
  </div>
  </section>

{% endblock content %}