* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #7380ec;
  --text-accent: #2e3ecc;
  --box-shadow: #737fec63;
  --background-color: #f6f6f9;
}

label.darkmode-toggle {
  width: 70px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 2%;
  display: block;
  background: white;
  border-radius: 200px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(225, 255, 255, 0.4);
}
label.darkmode-toggle .bx-sun {
  padding-left: 0.55rem;
  z-index: 2;
  color: white;
}
label.darkmode-toggle .bx-moon {
  padding-right: 0.45rem;
  z-index: 2;
}
label.darkmode-toggle::after {
  content: "";
  width: 27px;
  height: 27px;
  display: flex;
  justify-self: center;
  align-self: center;
  position: absolute;
  transition: 0.4s ease;
  top: 2px;
  left: 3px;
  background: linear-gradient(180deg, #7380ec, #2e3ecc);
  border-radius: 100px;
  box-sizing: 0 5px 10px rgba(0, 0, 0, 0.2);
}
label.darkmode-toggle:active::after {
  width: 38px;
}

input.darktoggle {
  position: absolute;
  width: 0;
  right: 0;
  top: 0;
  height: 0rem;
  visibility: hidden;
  transition: all 0.4s ease;
  border: 1px solid red;
}
input.darktoggle:checked + label {
  background: #242424;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.342);
}
input.darktoggle:checked + label::after {
  left: 95%;
  transition: 0.4s ease;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
input.darktoggle:checked + .darkmode-toggle .bx-moon {
  color: white;
}

body.dark {
  background: #242424 !important;
  color: #f6f6f9;
}
body.dark button[type=submit] {
  color: white !important;
  border: 1px solid white !important;
}

body {
  margin: 0;
  background: var(--background-color);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  font-family: "Montserrat";
  color: #242424;
}
body .logo {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 4rem;
}
body .logo img {
  width: 100%;
  border-radius: 50%;
}
body form.signup-form {
  border-radius: 10px;
  width: 30%;
  padding: 2rem;
  gap: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
body form.signup-form h1.form-title {
  font-size: 2.1em;
  text-align: center;
  margin-bottom: 10%;
}
body form.signup-form input {
  padding: 0.7rem 0.8rem;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.315);
  font-size: 1.1em;
  font-family: "Lato";
  transition: all 0.4s ease;
  color: rgb(43, 41, 41);
}
body form.signup-form input::-moz-placeholder {
  font-family: "Lato";
  color: rgba(46, 46, 49, 0.4666666667);
  font-size: 1em;
}
body form.signup-form input:-ms-input-placeholder {
  font-family: "Lato";
  color: rgba(46, 46, 49, 0.4666666667);
  font-size: 1em;
}
body form.signup-form input::placeholder {
  font-family: "Lato";
  color: rgba(46, 46, 49, 0.4666666667);
  font-size: 1em;
}
body form.signup-form input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0px 0px 10px 3px var(--box-shadow);
}
body form.signup-form label {
  font-size: 1em;
  font-weight: bold;
}
body form.signup-form button[type=submit] {
  padding: 0.7rem 0.6rem;
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 0.03cm;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  color: var(--text-accent);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.4s ease;
  margin-top: 2%;
  background: transparent;
}
body form.signup-form button[type=submit]:hover {
  background-color: var(--primary-color);
  color: white;
}
body form.signup-form .extra span {
  letter-spacing: 0.03cm;
  font-weight: bold;
}
body form.signup-form .extra span a {
  text-decoration: none;
  color: var(--text-accent);
}

@media only screen and (max-width: 1024px) {
  label.darkmode-toggle {
    width: 50px;
    height: 25px;
    right: 8%;
    top: 2%;
  }
  label.darkmode-toggle .bx-sun {
    padding-left: 0.35rem;
  }
  label.darkmode-toggle .bx-moon {
    padding-right: 0.25rem;
  }
  label.darkmode-toggle::after {
    width: 20px;
    height: 20px;
  }
  label.darkmode-toggle:active::after {
    width: 38px;
  }
  body.dark {
    background: #242424 !important;
    color: #f6f6f9;
  }
  body.dark button[type=submit] {
    color: white !important;
    border: 1px solid white !important;
  }
  body {
    margin: 0;
    background: var(--background-color);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    overflow: hidden;
    font-family: "Montserrat";
    color: #242424;
  }
  body .logo {
    width: 3rem;
  }
  body .logo img {
    width: 100%;
    border-radius: 50%;
  }
  body form.signup-form {
    border-radius: 10px;
    width: 90%;
    padding: 2rem;
    gap: 15px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  body form.signup-form h1.form-title {
    width: 100%;
    font-size: 1.9em;
    text-align: center;
    margin-bottom: 10%;
  }
  body form.signup-form input {
    padding: 0.8rem 0.8rem;
    border-radius: 0.3rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.315);
    font-size: 1.1em;
    font-family: "Lato";
    transition: all 0.4s ease;
    color: rgb(43, 41, 41);
  }
  body form.signup-form input::-moz-placeholder {
    font-family: "Lato";
    color: rgba(46, 46, 49, 0.4666666667);
    font-size: 1em;
  }
  body form.signup-form input:-ms-input-placeholder {
    font-family: "Lato";
    color: rgba(46, 46, 49, 0.4666666667);
    font-size: 1em;
  }
  body form.signup-form input::placeholder {
    font-family: "Lato";
    color: rgba(46, 46, 49, 0.4666666667);
    font-size: 1em;
  }
  body form.signup-form input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 10px 3px var(--box-shadow);
  }
  body form.signup-form label {
    font-size: 1.1em;
    font-weight: bold;
  }
  body form.signup-form button[type=submit] {
    padding: 0.6rem 0.6rem;
    font-family: "Montserrat";
    font-weight: 500;
    letter-spacing: 0.03cm;
    border-radius: 0.4rem;
    border: 1px solid var(--primary-color);
    color: var(--text-accent);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: all 0.4s ease;
    margin-top: 2%;
  }
  body form.signup-form button[type=submit]:hover {
    background-color: var(--primary-color);
    color: white;
  }
  body form.signup-form .extra span {
    letter-spacing: 0.03cm;
    font-weight: bold;
  }
  body form.signup-form .extra span a {
    text-decoration: none;
    color: var(--text-accent);
  }
}/*# sourceMappingURL=signup.css.map */