{% load static %}
<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  
  <link rel="stylesheet" href="{% static 'css/basic.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

  {% block custom-css %}
    
  {% endblock custom-css %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&family=Oswald&family=Montserrat&family=Lato&family=Barlow&family=Sacramento&display=swap'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title> PORTAIL - {% block title %}{% endblock %} </title>
</head>
<body id="main-body">

  <div class="container">
  
    <section class="main">    
      <aside>
        <div class="right">
          <div class="top">
            <div class="logo-container">
              <a href="{% url 'home' %}" class="logo">
                <div class="img-container">
                  <img src="{% static 'images/unifrais.jpg' %}">
                </div>
               
              </a>
            </div>
            <div class="theme-toggler">
              <input class="darktoggle" type="checkbox" id="darkmode-toggle">
              <label class="darkmode-toggle" for="darkmode-toggle" id="toggle_dark">
                  <i class="bx bx-sun"></i>
                  <i class="bx bx-moon"></i>
                  
              </label>
              
            </div>
            <div class="profile">
              <div class="profile-photo">
                <a href="{% url 'user_profile' %}">
                  <span class="material-symbols-outlined"></span>  
                </a>
              </div>
            </div>
              <div class="info">
                <p>Bienvenue,{% if request.user.role == "MAGASIN" %} <b>{{request.user.username}}</b>{% else %} <b>{{request.user.last_name}}</b>{% endif %}</p>
              </div>
              <!-- <div class="extra small">
                
                <div class="nav-trigger" id="nav-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
              </div> -->
          </div>
        </div>
      </aside>
      <div class="content">
        <style>
          .messages .alert{
            width: fit-content;
            background: rgba(255, 145, 0, 0.568);
            padding: 1rem 1.2rem;
            border-radius: 10px 10px;
          }
          .messages .alert.close{
            display: none;
          }
        </style>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %} id="alert">{{ message }}
               
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
      </div>
     
      
    </section>
  </div>
  


  
  <script>
    

    var toggle = document.getElementById("toggle_dark")
    var input_toggle = document.getElementById("darkmode-toggle")
    var body = document.getElementById("main-body")
    toggle.addEventListener('click', () => {
        body.classList.toggle('dark')
        localStorage.setItem('darkmode', body.className);
    })

    var body = document.getElementById("main-body")
    window.addEventListener('load', () => {
      if(localStorage.getItem("darkmode")){
        body.classList.toggle('dark')
        input_toggle.checked = true;
      }
      setTimeout(function() {
                document.getElementById('alert').classList.add("close");
            }, 4000);
      
    })

        let nav_trigger = document.querySelector('#nav-trigger');
        let sidebar = document.querySelector('.sidebar');
        let nav_item = document.querySelectorAll('.nav-content li.item')
        nav_item.forEach(item => {
            item.addEventListener('click', () => {
                sidebar.classList.remove('active')
                nav_trigger.classList.remove('active')
            })
                
            }
        );

        nav_trigger.onclick = function() {
            sidebar.classList.toggle('active')
            nav_trigger.classList.toggle('active')
        }
        searchBtn.onclick = function() {
            sidebar.classList.toggle('active')
        }

        
   
    </script>
</body>
</html>
