{% extends 'base.html' %}
{% load static %}
{% block title %} Accueil {% endblock%}
{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/homer.css' %}">
{% endblock custom-css %}

{% block content %}
<div class="page-container">
  <div class="page">
    {% if request.user.role == "RH" %}
      <div class="icon-container">
          <a href="" draggable="true">
              <div class="icon">
                  <i class="fa fa-info fa-2x"></i>
                  <span>Paie</span>
              </div>
          </a>
      </div>
    {% endif %}
    {% if request.user.role == "SUPERVISEUR" or request.user.role == "ADMIN" or request.user.role == "DIRECTION" or request.user.role == "MAGASIN" or request.user.is_staff %}
      <div class="icon-container">
          <a href="{% url 'historique' %}?page={{weekpag.num_pages}}" draggable="true">
              <div class="icon">
                  <i class="bx bx-history"></i>
                  <span>Historique</span>
              </div>
          </a>
      </div>
    {% endif %}
    {% if request.user.role == "MAGASIN" %}
      <div class="icon-container">
          <a href="{% url 'formulaire' %}">
              <div class="icon">
                  <!-- <i class="bx bx-file"></i> -->
                  <img src="{% static 'images/icons8-google-forms-64.png' %}" alt="">
                  <span>Formulaire</span>
              </div>
          </a>
      </div>
      {% endif %}
      {% if request.user.role == "ADMIN" or request.user.role == "DIRECTION" or request.user.is_staff %}
      <div class="icon-container">
        <a href="{% url 'primweb' %}" draggable="true">
            <div class="icon">
                <!-- <i class="bx bx-folder-open"></i> -->
                <img src="{% static 'images/primweb.png' %}" alt="">
                <span>Primweb</span>
            </div>
        </a>
      </div>
      {% endif %}
      <div class="icon-container">
        <a target="_blank" href="http://192.1.200.183/glpi"  draggable="true">
            <div class="icon">
                <!-- <i class="bx bx-folder-open"></i> -->
                <img src="{% static 'images/icons8-online-support-skin-type-1-100.png' %}" alt="">
                <span>Support Informatique</span>
            </div>
        </a>
      </div>
      <div class="icon-container" >
        <a href="{% url 'support' %}"  draggable="true">
            <div class="icon">
                <!-- <i class="bx bx-folder-open"></i> -->
                <img src="{% static 'images/icons8-folder-48.png' %}" alt="">
                <span>Documents</span>
            </div>
        </a>
      </div>
      <div class="icon-container" >
        <a href="{% url 'logout' %}"  draggable="true">
            <div class="icon">
                <!-- <i class="bx bx-folder-open"></i> -->
                <img src="{% static 'images/icons8-close-window-48.png' %}" alt="">
                <span>Déconnexion</span>
            </div>
        </a>
      </div>
     
     
     
  </div>
 </div>
 <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
