{% extends 'base.html' %}

{% block title %} Accueil {% endblock%}


{% block content %}
<!-- DEBUT-->
<div class="main-part">
  <div class="cpanel">
  <div class="icon-part">
  <i class="fa fa-users" aria-hidden="true"></i><br>
  <p>Saisie du CA</p>
  </div>
  <div class="card-content-part">
  <a href="../historique/historique.html">VALIDER</a>
  </div>
  </div>
  <div class="cpanel cpanel-green">
  <div class="icon-part">
  <i class="fa fa-users" aria-hidden="true"></i><br>
  <p>Account</p>
  </div>
  <div class="card-content-part">
  <a href="#">More Details </a>
  </div>
  </div>
  <div class="cpanel cpanel-orange">
  <div class="icon-part">
  <i class="fa fa-bell" aria-hidden="true"></i><br>
  <p>Alert</p>
  </div>
  <div class="card-content-part">
  <a href="#">More Details </a>
  </div>
  </div>
  <div class="cpanel cpanel-blue">
  <div class="icon-part">
  <i class="fa fa-tasks" aria-hidden="true"></i><br>
  <p>Task</p>
  </div>
  <div class="card-content-part">
  <a href="#">More Details </a>
  </div>
  </div>
  <div class="cpanel cpanel-red">
  <div class="icon-part">
  <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
  <p>Cart</p>
  </div>
  <div class="card-content-part">
  <a href="#">More Details </a>
  </div>
  </div>
  <div class="cpanel cpanel-skyblue">
  <div class="icon-part">
  <i class="fa fa-comments" aria-hidden="true"></i><br>
  <p>Mentions</p>
  </div>
  <div class="card-content-part">
  <a href="#">More Details </a>
  </div>
  </div>
  </div>
<!-- FIN -->
{% endblock %}
